
body {
    margin: 0px;
    background: #eee;
}

.site-header {
    background: black;
}

.site-header * {
    color: white;
}

.site-footer {
    border-top: 2px solid black;
    background: white;
}

.site-main, .header-main, .footer-main {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0px 20px;
}

.site-main {
    min-height: 768px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    background: white;
    box-shadow: 10px 10px 0 #aaa;
}

.site-header > .header-main, .main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.site-nav, .goto {
    margin: 10px 0px;
}

.goto, .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    flex-grow: 1;
}

.goto > * {
    color: black;
}

nav > * {
    display: inline-block;
    margin: 0px 10px;
    font-size: 1.25em;
}

.site-nav a, .site-nav a:visited {
    color: white;
}

.catmembers {
    column-count: 3;
    column-width: 24em;
}

a, a:visited {
    color: blue;
    text-decoration: none;
}

a.new, a.new:visited {
    color: darkred;
}

a:active {
    color: darkblue;
}

img {
    max-width: 100%;
    height: auto;
}
