<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <title>{{ page.title }} - {{ site.meta.title }}</title>

        <link rel="stylesheet" href="{{ site.baseUrl }}/res/css/index.css">
    </head>
    <body>
        <header class="site-header">
            <main class="header-main">
                <nav class="site-nav">
                    <span class=site-title>
                        <a href="{{ site.baseUrl }}{{ site.path.pages }}{{ site.meta.mainPage }}">{{ site.meta.title }}</a>
                    </span>
                </nav>
                <form class="goto" onsubmit="location.href = '{{ site.baseUrl }}{{ site.path.pages }}/' + document.querySelector('#goto-input').value + '{{ site.extension.page }}'; return false;">
                    <input type="text" id="goto-input">
                    <button type="submit">移動</button>
                </form>
            </main>
        </header>
        <main class="site-main">
            <header class="main-header">
                <h1 class="page-title">{{ page.title }}</h1>
                <nav class="main-nav">
                    <a href="{{ site.source.url }}/index.php?title={{ page.title }}">原本</a>
                    <a href="{{ site.source.url }}/index.php?title={{ page.title }}&action=edit">編輯</a>
                    <a href="{{ site.source.url }}/index.php?title={{ page.title }}&action=history">歷史</a>
                </nav>
            </header>
            <hr>
            <div class="catlinks">
                <span>{{ site.namespace.names[14] }} : </span>
                {% for category in page.categories %}
                    <a href="{{ category.url }}">{{ category.name }}</a>
                {% endfor %}
            </div>
            <article id="content">
                {{ page.content }}
                {% if page.members and page.members.length > 0 %}
                    <ul class="catmembers">
                        {% for member in page.members %}
                            <li><a href="{{ member.url }}">{{ member.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </article>
            <hr>
            {% if page.timestamp != 0 %}
                <div class="timestamp">最近 編輯: {{ page.timestamp | date: "%Y-%m-%d %H:%M:%S" }}</div>
            {% endif %}
        </main>
        <footer class="site-footer">
            <main class="footer-main">
                {% if site.meta.rights.text %}
                    <p>
                        {% if site.meta.rights.text %}
                            <a href="{{ site.meta.rights.url }}">
                        {% endif %}
                                {{ site.meta.rights.text}}
                        {% if site.meta.rights.text %}
                            </a>
                        {% endif %}
                    </p>
                {% endif %}
            </main>
        </footer>
    </body>
</html>