<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <title>{{ site.meta.title }}</title>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Sans+KR&family=Noto+Sans+SC&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ site.baseUrl }}/res/css/index.css">
        <link rel="stylesheet" href="{{ site.baseUrl }}/res/css/ruby.css">
        <script>
            var indicesUrl = "{{ site.baseUrl }}{{ site.path.indices }}";
            var pagesUrl = "{{ site.baseUrl }}{{ site.path.pages }}";
            var pageExtension = "{{ site.extension.page }}";
        </script>
        <script src="{{ site.baseUrl }}/res/js/search.js"></script>
    </head>
    <body>
        <header class="site-header">
            <main class="header-main">
                <nav class="site-nav">
                    <span class=site-title>
                        <a href="{{ site.baseUrl }}{{ site.path.pages }}{{ site.meta.mainPage }}">{{ site.meta.title }}</a>
                    </span>
                </nav>
                <form class="goto" onsubmit="location.href = '{{ site.baseUrl }}/search.html?search=' + encodeURIComponent(document.querySelector('#goto-input').value); return false;">
                    <input type="text" id="goto-input">
                    <button type="submit">移動</button>
                </form>
            </main>
        </header>
        <main class="site-main">
            <header class="main-header">
                <h1 class="page-title">檢索結果</h1>
            </header>
            <hr>
            <div id="goto-result">
                
            </div>
            <div id="search-result">
                
            </div>
        </main>
        <footer class="site-footer">
            <main class="footer-main">
                {% if site.meta.rights.text %}
                    <p>
                        {% if site.meta.rights.text %}
                            <a href="{{ site.meta.rights.url }}">
                        {% endif %}
                                {{ site.meta.rights.text}}
                        {% if site.meta.rights.text %}
                            </a>
                        {% endif %}
                    </p>
                {% endif %}
            </main>
        </footer>
    </body>
</html>